<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-car"></i>
                    Araç Servis Kayıt
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "VehicleServiceRecordLog")">
                    <i class="fas fa-clipboard-list"></i>
                    Araç Servis Kayıt Log
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "ApplicationLog")">
                    <i class="fas fa-file-alt"></i>
                    Uygulama Logları
                </a>
            </li>

        </ul>
    </div>
</nav>